<div class="scrollable">
<div class="btn-group justified nav-tabs" style="padding-top:5px">

  <a class="btn btn-default" href="#Tab1" toggle="on" active-class="active" style="background-color:#F5AB35"><font color="white" size=4>Before</font>
  </a>
  
  <a class="btn btn-default" href="#Tab2" toggle="on" active-class="active" style="background-color:#F22613"><font color="white" size=4>During</font>
  </a>
  
  <a class="btn btn-default" href="#Tab3" toggle="on" active-class="active" style="background-color:#2ECC71"><font color="white" size=4>After</font>
  </a>
  
</div>
<div class="scrollable-content">
<div class="tab-content">
  <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs">
  <ul><li>Know the earthquake hazards in your area.</li>
  <li>Follow structural design and engineering practices when constructing a house or building.</li>
  <li>Evaluate the structural soundness of the building and houses; strengthen or retrofit if necessary.</li>
  <li>Strap or bolt heavy furnitures/cabinets to the walls.</li>
  <li>Check the stability of hanging objects like ceiling fans and chandeliers.</li>
  <li>Breakable items, harmful chemicals and flammable materials should be stored properly in the lowermost secured shelves.</li>
  <li>Familiarize yourself with the exit routes</li>
  <li>Know where fire extinguishers, first aid kits, alarms, and communication facilities are located.Learn how to use them beforehand</li>
  <li>Conduct and participate in regular earthquake drills</li>
  </ul>
  </div>

  <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs">
  <ul>
  <li>STAY CALM.</li>
  <li>If possible open the door for exit.</li>
  <li>Duck under a sturdy desk or table , and hold on to it, or protect your head with your arms.</li>
  <li>Stay away from glass windows, shelves, cabinets and other heavy objects.</li>
  <li>Beware of falling objects. Be alert and keep your eyes open.</li>
  <li>Stay away from trees, powerlines, posts and concrete structures.</li>
  <li>If you're near the shore and feel the earthquake, especially if it's too strong, move quickly to higher grounds. Tsunamis might follow.</li>
  <li>If you're in a moving vehicle, STOP and get out! Do not attempt to cross bridges, overpasses, or flyovers which may have been damaged.</li>
</ul>

  </div>

  <div class="tab-pane" toggleable active-class="active" id="Tab3" exclusion-group="myTabs">
  <ul>
  <li>DON'T...<ul>
  <li>...use elevators.</li>
  <li>...enter damaged buildings.</li>
  <li>...use telephones unless necessary.</li>
  <li>...PANIC.</li>
  </ul></li>
  <li>Check...<ul>
  <li>yourself and others for injuries.</li>
  <li>water and electrical lines for damages.</li>
  <li>for spills of chemical, toxic and flammable materials.</li>
  <li>and control fires which may spread.</li>
  </ul></li>
  <li>If you need to evacuate your residence, leave a message stating where you are going and bring your emergency supply kit.</li>
  <li>Keep updated on disaster prevention instructions from battery-operated radios.</li>
  </ul>
  </div>
</div>
</div>
</div>
