<div class="scrollable">
<div class="btn-group justified nav-tabs" style="padding-top:5px">

  <a class="btn btn-default" href="#Tab1" toggle="on" active-class="active" style="background-color:#F5AB35"><font color="white" size=4>Before</font>
  </a>
  
  <a class="btn btn-default" href="#Tab2" toggle="on" active-class="active" style="background-color:#F22613"><font color="white" size=4>During</font>
  </a>
  
  <a class="btn btn-default" href="#Tab3" toggle="on" active-class="active" style="background-color:#2ECC71"><font color="white" size=4>After</font>
  </a>
  
</div>
<div class="scrollable-content">
<div class="tab-content">
  <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs">
  <ul>
  <li>Install smoke detectors. Check them monthly. Change the batteries yearly, whether they need it or not.</li>
  <li>Develop an escape plan for different areas of the home, particularly focusing on escaping from the bedroom areas. Each room should have two different ways of escape in case one is blocked by fire. Practice it regularly.</li>
  <li>Choose a safe meeting place outside the home. Make sure that everyone knows where it is.</li>
  <li>Practice setting off the smoke alarm at night when everyone is asleep. Studies show that children may not be able to hear the alarm. Practice other methods of awakening them, perhaps by bell or bullhorn.</li>
  <li>Keep flashlights in each room. Keep at least one fire escape ladder on upper levels.</li>
  <li>Practice evacuating while blindfolded. Smoke from house fires can be so thick that you will not be able to see. Practice staying low to the ground while evacuating.</li>
  <li>Know simple fire rules, such as feeling a door before opening it to determine if it is safe. If it is hot, find another way out. Remember to stop, drop, and roll if your clothing catches fire.</li>
  </ul>
  </div>

  <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs">
  <ul>
  <li>Getting out quickly and safely is your only goal. Do not try to “save” any objects, no matter how valuable.</li>
  <li>Never use an elevator during a fire. Always take the stairs.</li>
  <li>Stay low to the ground. Cover your mouth and nose with a cloth or your shirt to prevent breathing in smoke or dangerous fumes.</li>
  <li>Do not open a door that feels hot or has smoke coming in from underneath or around the door frame.</li>
  <li>Meet at your safe place, away from the fire.</li>
  <li>Call the fire department or head to a neighbor’s house to ask them to call.</li>

</ul>

  </div>

  <div class="tab-pane" toggleable active-class="active" id="Tab3" exclusion-group="myTabs">
  <ul>
  <li>Be sure that all individuals who are injured – be if from burns, smoke inhalation, or injuries incurred while escaping – should be treated by a doctor.</li>
  <li>Do not return to the building until given the okay by the fire authorities. For minor fires, make sure that there is no damage to the structure of the home that could cause its collapse.</li>
  <li>Throw out all food that was exposed to the fire and smoke.</li>
  <li>Contact your insurance agent to get an inventory of all damaged items, which could be covered. Save receipts that are related to the fire.</li>
  </ul>
  </div>
</div>
</div>
</div>
