<div class="scrollable">
 
<div class="btn-group justified nav-tabs" style="padding-top:5px">

  <a class="btn btn-default" href="#Tab1" toggle="on" active-class="active" style="background-color:#F5AB35"><font color="white" size=4>Before</font>
  </a>
  
  <a class="btn btn-default" href="#Tab2" toggle="on" active-class="active" style="background-color:#F22613"><font color="white" size=4>During</font>
  </a>
  
  <a class="btn btn-default" href="#Tab3" toggle="on" active-class="active" style="background-color:#2ECC71"><font color="white" size=4>After</font>
  </a>
  
</div>
 <div class="scrollable-content">
<div class="tab-content">
  <div class="tab-pane" toggleable active-class="active" default="active" id="Tab1" exclusion-group="myTabs">
  <ul>
  <li>Make sure you have a disaster plan. Specific gear won't generally help you in a flood or a tsunami's surge, but things like food and fresh water, medication, water purification tablets, and a first aid kit definitely will. What's more important in this case though is that you have a plan that you and others can put into motion quickly to get out of a dangerous area and to higher ground. It's essential to practice your escape plan with family members so you can get to a meet-up point quickly and safely.</li>
  </ul>
  </div>

  <div class="tab-pane" toggleable active-class="active" id="Tab2" exclusion-group="myTabs">
  <ul>
  <li>Listen to emergency radio. There's no way for you to tell whether what you're experiencing is a flood, a flash flood, or how high the waters will get. If an evacuation order is given, you'll need to pay attention to emergency services to hear it. Listening to emergency radio can make the difference between moving to a higher floor in your home or apartment building and needing to leave your home entirely for safer ground.</li>
  <li>If you're driving, do not pass through standing water, or water where you cannot see the bottom. Six inches of water will reach the bottom of most cars, causing control issues. If that water gets into the engine, your car will stall. Six inches is all it takes. A foot is enough to float a car or truck. Two feet will carry almost any vehicle off, including SUVs. Don't be deceived by what looks like a little water either—the road underneath may have washed away, making it deeper than it appears, especially at night. Don't risk your vehicle or your life. Pull over, drive around, or get out and get to higher ground.</li>
  <li>If you're walking, do not walk through moving or rushing water. A few inches can make you fall down, and fast-moving water can carry a person off quickly. If you have to walk through water, look for where the water isn't moving. Stay away from streams, sewer drains, and manmade channels or drainage canals.</li>
  <li>If there is any possibility of a flash flood, or you think a tsunami is imminent get to higher ground immediately. Don't wait for instructions or an official warning—just get your go-bag, important documents, family members, and go as soon as possible. </li>
  <li>If you time to evacuate your home, turn off utilities and move critical items to the highest possible point. Do this only if you have time, but if you live in a floodplain, you may have some warning. Make sure you know where gas, water, and power cut-off valves are, and disconnect any appliances you can. Of course, don't touch any wires, plugs, or other electrical equipment if you're standing in water.</li>
</ul>
  </div>

  <div class="tab-pane" toggleable active-class="active" id="Tab3" exclusion-group="myTabs">
  <ul>
  <li>Beware of flooded sharp objects.</li>
  <li>Be alert on live wires that can cause electrocution</li>
  </ul>
  </div>
</div>
</div>
</div>
