<h1 class="app-name">Emergency</h1>

<div class="scrollable sidebar-scrollable">
    <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="mainSidebar">
            <a class="list-group-item" href="#/hospitals">Nearby Hospitals <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/hotlines">Emergency Hotlines <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/tools">Tools <i class="fa fa-chevron-right pull-right"></i></a>
        </div>

    </div>
</div>
